@mixin font_Xlarge {
  padding: 20px 10px;
  font-family: $font-primary;
  font-weight: 700;
  line-height: 1.16em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@mixin font_h2 {
  font-weight: 700;
  line-height: 1.16em;
  padding: 10px;
  text-transform: uppercase;
}

@mixin font_regularText {
  font-family: $font-secondary;
  font-size: $fz-xSmall;

}

@mixin btn__main_small {
  display: block;
  font-size: 10px;
  line-height: 17px;
  padding: 10px 25px;
  border: 1px solid $clr-primary;
}

@mixin btn__main_regular {
  display: block;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 40px;
  border: 1px solid $clr-primary;
}